body{
    font-family: 'Frank Ruhl Libre', serif;
}
* {
    margin: 0;
    padding: 0
}
:root {
    --primary : #F19540
}

header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    button{
        color: white;
        background-color: transparent;
        border: white solid 1px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        padding: 15px;
}
}
nav{
    display: flex;
    gap: 15px;
    a{
        text-decoration: none;
        color: white;
      }
}
a:hover{
    border-bottom: 1px solid var(--primary);
}

.hero{
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
    background-size: cover;
    background-image: url(images/gautier.png);
    height: 100vh;
    padding-inline: 100px;
}
.bio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 275px;
}
.sweeper{
    margin: 0 auto;
}

.avatar{
    gap: 20px;
    h1{font-size: 150px;
        color: white;
    }
    p{
        font-size: 28px;
        color: white;
    }
}
.view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    button{
        color: white;
        background-color: var(--primary);
        font-size: 16px;
        height: 60px;
        width: 206px;
    }
}

.activite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height:160px;
    gap: 50px;
    padding: 20px;
    .txt{
        h4{
            font-size: 32px;
            color: white;
        }
        p{
            font-size: 20px;
            color: white;
        }
    }

}
.histoire{
    background-color: white;
    padding: 32px;
    .txt{
        h4{
            color: black;
        }
        p{
            color: black;
        }
    }

}
.second{
    background-image: url(images/bck2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    padding-inline: 100px;
    gap: 150px;
    padding: 80px;
}
.lorem{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 763px;
    height: auto;
    h3{
        font-size: 46px;
    }
    p{
        font-size: 18px;
        line-height: 28px;
        color: #6B6B6B;
    }
    .red{
        color: var(--primary);
    }
    button{
        background-color: transparent;
        width: 228px;
        height: 46px;
        font-size: 16px;
    }
}
.third{
    background-image: url(images/bckday.png);
    padding: 80px;
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    h3{
        font-size: 46px;
    }
    p{
        font-size: 24px;
        color: var(--primary);
    }
}
.dayCard{
    display: flex;
    justify-content: space-between;
}
.day{
    display: flex;
    justify-content: space-between;
}
.heure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}